@import "surface_css_vars";

UL#markdown-toc  {
  list-style: none;
  padding-left: 0;
}

.content #markdown-toc li {
  font-size: 95%;
  line-height: 1.4;
}


tr {
  font-size: $font-med + 1px;
  line-height: $space-big*1.3;
  border-bottom: solid 1px lighten($grey, 30%);
  will-change: background;
  &:not(.table-header) {
    &:hover {
      background: lighten($grey, 30%);
    }
  }
}

td, th {
  padding-left: 16px;
  padding-right: 16px;
}